<%- include('header') -%>

<body>

  <div class="d-flex" id="wrapper">

    <%- include('sidebar') -%>    

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <%- include('sidenext') -%>  

      <div class="container-fluid">
        <h3 class="mt-4">Welcome to the Placement Website</h3>
        <br>
        <img src="images/student.jpg" alt="Student Noticeboard">
        <br><br>
        <p>Our students of batches of the following courses passing out in 2018-19 are available for Campus recruitment.
          Organizations are welcome to make pre-placement talks, which provide an opportunity for the organizations to showcase their corporate requirements and the job profiles.
        </p>
        
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

 
  <%- include('footer') -%>
 

</body>

</html>
