<%- include('header') -%>

<body>

  <div class="d-flex" id="wrapper">

    <%- include('sidebar') -%>    

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <%- include('sidenext') -%>  

      <div class="container-fluid">
        <h3 class="mt-4">Register Student for the Company</h3>
        <br><h4>Please fill all Fields, Otherwise you'll be redirected to same page..</h4>

        <form action="/post/store2" method="POST">
            Company:<br>
            <input type="text" name="company">
            <br>
            RollNo:<br>
            <input type="text" name="rollno">
            <br><br>
            <input type="submit" value="Submit">
        </form> 
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

 
  <%- include('footer') -%>
 

</body>

</html>
