<!-- Sidebar -->
<div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Menu </div>
        <div class="list-group list-group-flush">
          <a href="./index.html" class="list-group-item list-group-item-action bg-light">Home</a>
          <a href="./addstudent.html" class="list-group-item list-group-item-action bg-light">Add Student Record</a>
          <a href="./removestudent.html" class="list-group-item list-group-item-action bg-light">Remove Student Record</a>
          <a href="./editstudent.html" class="list-group-item list-group-item-action bg-light">Edit Student Record</a>
          <a href="./searchstudent.html" class="list-group-item list-group-item-action bg-light">Search Student Record</a>
          <a href="./regcompany.html" class="list-group-item list-group-item-action bg-light">Register Company </a>
          <a href="./unregcompany.html" class="list-group-item list-group-item-action bg-light">Unregister Company</a>
          <a href="./regstu.html" class="list-group-item list-group-item-action bg-light">Register Student for Company</a>
          <a href="./unregstu.html" class="list-group-item list-group-item-action bg-light">Unregister Student for Company</a>
          <a href="./showcompforstudent.html" class="list-group-item list-group-item-action bg-light">Show all company registered by Student</a>
          <a href="./showstuforcompany.html" class="list-group-item list-group-item-action bg-light">Show all student registered for Company</a>
        </div>
      </div>
<!-- /#sidebar-wrapper -->

